
{% include 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <style>

        body{

            background-color: grey;



            
        }



    </style>



<body>

    <br><br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Manage your account</h3>
        <br><br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <br><br>
            {{form.username|as_crispy_field}}
            <br>
            {{form.email|as_crispy_field}}
            <br><br>
        
            <button type="submit" class="btn btn-secondary btn-lg w-100 btn-block p-2">&nbsp;Update</button>
        </form>
        
    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Delete your account</h3>
        <hr>
        <p>Proceed if you wish to delete your account</p>
        <br>
        <a class="btn btn-danger navbar-btn text-white" type="button" href="{% url 'delete-account' %}">Delete your account</a>
    </div>
    










</body>






{% endblock %}










